/* Estilos generales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-width: 320px;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    min-width: 320px;
    overflow-x: hidden;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;

}


/* Navbar */
nav {
    width: 100%;
    background-color: #695853;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.menuNav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #695853;
    height: 15vh;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #988780;
    padding: 15px;
    height: 70px;
    width: 260px;

}

.logo a {
    text-decoration: none;
    color: white;
}

.imagenLogo {
    width: 90px;
    height: auto;
}

.logo>a>h2 {
    font-size: 24px;
    font-weight: 600;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
}

nav h1 {
    display: inline;
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .menuNav {
        flex-direction: row;
        justify-content: space-between;
    }
}


/* Hero Section */
.hero {
    background-color: #e7ded9;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
}

.hero .btn {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #13292a;
    color: #fff;
    border: none;
    border-radius: 50px;
}

.hero .btn:hover {
    background-color: #988780;
}

/* Sección de Búsqueda de Libros */
.search-section {
    background-color: #f8f9fa;
    padding: 40px 0;
    text-align: center;
}

.search-section h2 {
    font-size: 24px;
    margin-bottom: 20px;

}

.search-section input[type="search"] {
    padding: 10px;
    width: 60%;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

#search-button {
    height: 50px;
    width: 50px;
    background-color: #13292a;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;

}

.search-section button[type="submit"]:hover {
    background-color: #988780;

}

.searchImg {
    height: 30px;
    width: auto;
    align-self: center;


}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Sección de Libros Más Aclamados */

/*Carrousel Destacados*/

/* Estilos del carrusel */

.btnCarouselContainer {
    display: flex;
    justify-content: space-between;
}

.btnCarousel {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #13292a;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.carousel {
    margin-top: 20px;

}

.carousel-inner {
    position: relative;
}

.carousel-item {
    display: none;
    text-align: center;
}

.carousel-item.active {
    display: block;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
}

.carousel-caption h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 18px;
    margin-bottom: 20px;
}

.carousel-caption .btn {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #13292a;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.carousel-caption .btn:hover {
    background-color: #988780;
}

.popular-books {
    padding: 50px 0;
    text-align: center;
}

.popular-books h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.popular-books .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-books .col-md-4 {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 40px;
}

.popular-books .card {
    width: 100%;

}


/*Seccion Géneros */
#books-container {
    h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}

#books-row {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    padding: 1rem;
    border-radius: 20px;
    width: 100%;
    max-width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow .3s ease;
}

.card:hover {
    box-shadow: 0 5px 5px rgb(130, 130, 130);
}

.card:hover .book-img{
    transform: scale(.9);
}

.book-img {
    width: 150px;
    height: 200px;
    border-radius: 20px;
    transition: transform .3s ease;
}

.card-content {
    display: flex;
    flex-direction: column;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.title h3 {
    font-weight: 100;
    width: calc(250px - 1rem);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 1rem 0;
}

.btnDetail {
    padding: 10px 20px;
    width: max-content;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 16px;
    text-decoration: none;
    background-color: #13292a;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background .3s ease;
}

.btnDetail:hover {
    background-color: #988780;
}

.loader-container {
    margin: 0 auto;
}

.loader {
    margin: 5rem 0;
    width: 48px;
    height: 48px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Footer */
.footer {
    background-color: #695853;
    width: 100%;
    display: flex;
    color: #fff;
    padding: 1rem;
    justify-content: space-between;


    ul {
        list-style: none;

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    img {
        height: 90px;
        display: block;
        margin: 0 auto;
    }

    .footer-left,
    .footer-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-left {
        padding-top: 1.5rem;
        justify-content: space-between;

        h3 {
            font-size: 2rem;
        }

        ul {
      
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            row-gap: .4rem;
        }
    }

    .footer-right {
        text-align: center;
        justify-content: space-between;

        .footer-logo {
            margin-bottom: .6rem;
        }

        ul li:first-child{
            margin-bottom: .5rem;
        }
    }

}

@media (min-width: 640px) {
    .footer {
        justify-content: space-around;
    }
}


/* Sección Detalle */
.detalle-card {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: #e7ded9;
    display: flex;
    flex-direction: column;

    img {
        max-width: 100%;
        border-radius: 20px;
    }
}

.detalle-titulo {
    width: 100%;
    text-align: center;
}

.detalle-titulo h2 {
    margin-bottom: 16px;
}

.detalle-content {
    display: flex;
    column-gap: 1rem;
}

.detalle-libro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.detalle-info {
    width: 50%;
    align-content: center;
}

.detalle-info p {
    margin-bottom: 10px;
    text-align: justify;
}

#detalle-volver {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 100px;
    padding: .5rem;
    background-color: #13292a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: .3s ease;
}

#detalle-volver:hover {
    opacity: .9;
}

/* Comun a Registro y Login */

.fondoLibros {
    background: linear-gradient(to right top, #aca8a8c2, #7265658a), url(../assets/imgs/fondo-libros.jpg);
    height: 85vh;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cuadroForm {
    background-color: #695853;
    width: 380px;
    height: 450px;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuadroForm div {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.camposForm {
    width: 80%;
    height: 30px;
    border-radius: 50px;
    background-color: #E7DED9;
    padding-left: 18px;
    padding-right: 18px;
    border-style: none;
    font-size: 15px;
}

.cuadroForm h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.boton {
    background-color: #13292A;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.boton:hover {
    background-color: #988780;
}



/*REGISTRO*/
.div-terminos-condiciones {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
    gap: 2px;
    font-size: 12px;
}

#terminos {
    width: 10px;
    height: 10px;
    appearance: none;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

#terminos:checked {
    background-color: #13292A;
    box-shadow: inset 0 0 0 2px #ccc;
}

.cuadroForm div a {
    font-size: 15px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.error {
    color: red;
}