/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Navbar */

.menuNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #695853;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 50px 50px;
    /*background-color: #988780;*/
    padding-right: 10px;
}

.imagenLogo {
    width: 100px;
    height: auto;
}

.logo>h2 {
    font-size: 50px;
}

nav {
    background-color: #e7ded9;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

nav h1 {
    display: inline;
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

/* Hero Section */
.hero {
    background-color: #e7ded9;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
}

.hero .btn {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #0056b3;
}

/* Sección de Búsqueda de Libros */
.search-section {

    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;


}

.search-section h2 {
    font-size: 24px;
    margin-bottom: 20px;

}

.search-section input[type="search"] {
    padding: 10px;
    width: 60%;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-section button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.search-section button[type="submit"]:hover {
    background-color: #0056b3;
}

.searchImg {
    height: 30px;
    width: auto;
    align-self: center;

}

/* Sección de Libros Más Aclamados */

/*Carrousel Destacados*/

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos del carrusel */

.btnCarouselContainer {
    display: flex;
    justify-content: space-between;
}

.btnCarousel {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.carousel {
    margin-top: 50px;
}

.carousel-inner {
    position: relative;
}

.carousel-item {
    display: none;
    text-align: center;
}

.carousel-item.active {
    display: block;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
}

.carousel-caption h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 18px;
    margin-bottom: 20px;
}

.carousel-caption .btn {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.carousel-caption .btn:hover {
    background-color: #0056b3;
}

.popular-books {
    padding: 50px 0;
    text-align: center;
}

.popular-books h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.popular-books .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-books .col-md-4 {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 40px;
}

.popular-books .card {
    width: 100%;

}


/*Seccion Géneros */
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}

.card {
    margin-bottom: 20px;
    text-align: center;
    background-color: #e7ded9;
    border-radius: 20px;
}

.title {
    display: flex;
    align-items: center;
    text-align: center;
}

.countryFlag {
    width: auto;
    height: 30px;
}

.btnDetail {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btnDetail:hover {
    background-color: #0056b3;
}


/* Footer */
.footer {
    background-color: #695853;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 2rem 4rem;

    ul {
        list-style: none;
    }

    img {
        max-width: 90px;
        display: block;
        margin: 0 auto;
    }


    .footer-left {
        width: 75%;
        display: flex;
        flex-direction: column;
        padding-left: 4rem;


        h3 {
            font-size: 1.5rem;
            height: 30%;
            display: flex;
            align-items: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: end;
            row-gap: 12px;
            flex-grow: 1;
            a {
                color: white;
                text-decoration: none;
            }
        }

    }

    .footer-right {
        width: 25%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 12px;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }
    }


}



/* Sección Detalle */
.detalle-card {
    max-width: 300px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: #e7ded9;

    h3 {
        text-align: center;
    }

    img {
        width: 100%;
    }
}

#detalle-volver {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 100px;
    padding: .5rem;
    background-color: #13292a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: .3s ease;
}

#detalle-volver:hover {
    opacity: .9;
}